<h1>New review</h1>
<%= simple_form_for [@business, @review] do |f| %>
  <%= f.input :title %>
   <%= f.input :job_title %>
  <%= f.input :content %>
  <%= f.input :rating %>
   <%= f.input :recommended %>
    <%= f.input :wage %>
  <%= f.submit  "Submit review", class: "btn btn-primary" %>
<% end %>
