<div class= "container">
<h1>New review</h1>
  <div class = "form-group row">
    <div class ="col-sm-6">
<%= simple_form_for [@business.first, @review] do |f| %>
  <%= f.input :title %>
   <%= f.input :job_title %>
  <%= f.input :content %>
  <%= f.input :rating %>
   <%= f.input :recommended %>
    <%= f.input :wage %>
  <%= f.submit  "Submit review", class: "button btn-flat btn-flat:hover" %>
<% end %>
  </div>
 </div>
</div>
