<%# CODE IS BOILERPLATE CONTENT FROM SEARCH LECTURE, WITH businesses TRANSPLANTED OVER movies %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="row justify-content-center">
        <div class="col-sm-8 my-3">
          <%= form_with url: businesses_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
                  class: "form-control",
                  placeholder: "Type a keyword"
              %>
            <%= submit_tag "Search", name: "", class: "btn-flat btn-flat:hover" %>
            <% end %>
        </div>

        <div id="businesses">
          <% if @businesses.any? %>
            <% @businesses.each do |business| %>
            <% @wages = [] %>
            <% @recommended_array = [] %>
            <% @ratings = [] %>
            <%# to make sure link is whole card - not just name %>
            <%= link_to business, style: 'text-decoration: none; color: #000000' do %>
              <div class="business-card mt-5">
                <%= cl_image_tag business.photo.key, height: 300 %>
                <div class="business-card-infos">
                  <div class="d-flex justify-content-between">
                    <h2> <%= business.name %> </h2>
                    <% business.reviews.each do |review| %>
                      <% @wages.push(review.wage) %>
                      <% end %>
                    <% unless business.reviews.empty? %>
                      <p> <%= "Average wage: #{number_to_currency((@wages.sum / business.reviews.length), options = {unit: "£"}) }"%> </p>
                    <% end %>
                  </div>
                  <% business.reviews.each do |review| %>
                    <% @ratings.push(review.rating) %>
                  <% end %>
                  <% unless business.reviews.empty? %>
                    <%= "Average rating " "#{pluralize (@ratings.sum / business.reviews.length).ceil, "star"}" %>
                  <% end %>
                  <p> <%= business.description[0..100] %> </p>
                  <% business.reviews.each do |review| %> </p>
                    <% if review.recommended = true %>
                      <% @recommended_array.push(review) %>
                    <% end %>
                  <% end %>
                  <p> <%= "#{pluralize (@recommended_array.length), "Disher"} recommends working here" %> </p>
                </div>
              </div>
              <% end %>
            <% end %>
          <% else %>
            <em> Sorry, no businesses found. </em>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
