<h2><%= @business.name %></h2>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @business.reviews.each do |review| %>
  <li class="list-group-item"><%= "#{("â­" * review.rating)}" %></li>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<%= render :partial => "businesses/review" %>

<%# <%= button_to 'Add to Favorites', user_user_favourites_path(@business), method: :post %>
<%= simple_form_for @favourite do |f| %>
<%= f.input :business, as: :hidden, input_html: { value:  @business.id } %>
<%= f.button :submit  %>
<% end %>
