<% public_id = Cloudinary::Utils.cloudinary_url(@business.first.photo.key, type: :asset)[/[^\/]+(?=\.[^.]+\z)/] %>

<div class="business-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(@business.first.photo.key) %>');">
   <div class="banner-content">
  <h2 ><%= @business.first.name %></h2>
    <div class="container-md">
      <div class="like-button" style="transform: scale(0.50)">
        <% if current_user.user_favourites.where(business_id: @business.first.id).any? %>
          <%= button_to business_user_favourites_path(@business.first.id), class: "btn-ghost like-wrapper ripple" do %>
            <svg class="heart-filled" width="1" height="1" viewBox="0 0 24 24">
              <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"></path>
            </svg>
          <% end %>
        <% else %>
          <%= button_to business_user_favourites_path(@business.first), class: "btn-ghost like-wrapper ripple" do %>
            <svg class="heart" width="1" height="1" viewBox="0 0 24 24">
              <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"></path>
            </svg>
          <% end %>
        <% end %>
      </div>
      </div>
  </div>
</div>



<div class="container">

  <h2><%= @business.first.name %></h2>

  <%= cl_image_tag @business.first.photo.key, height: 300%> <%# As the show method in business controller was changed to where(id: params[:id]) (AN ARRAY WAS CREATED), we have to use .first or .last to get this business out of the array %>
  <p> <strong> <%= pluralize @business.first.reviews.size, "Review" %> </strong></p>

  <% if @business.first.reviews.blank? %>
    <h3> Be the first to review <%= @business.name %> </h3>

  <% else @business.first.reviews.each do |review| %>
    <div class="review-card m-2 mt-5 col-sm-6">
      <div class="review-card-user-info">
        <h4> <%= review.user.username %> says ... </h4>
        <p> <strong> Position: </strong> <%= review.job_title %> </p>
        <p> <strong> Wage: </strong> <%= number_to_currency(review.wage, unit: "£") %> per hour </p>
      </div>
      <div class="review-card-content">
        <p> <%= "#{("⭐" * review.rating)}" %> </p>
        <p> <%= review.content %> <p>
      </div>
    </div>
    <% end %>
  <% end %>

  <button type="button" class="btn-ghost" data-bs-toggle="modal" data-bs-target="#new_review_modal">
    Add a review
  </button>

  <%= button_to 'Add to Favourites', business_user_favourites_path(@business.first), class: "btn-ghost" %>
  <%# <%= simple_form_for @favourite do |f| %>
  <%#= f.input :business, as: :hidden, input_html: { value:  @business.first.id } %>
  <%#= f.button :submit  %>
  <%# end %>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>

<%= render "modal" %>
