<div class="container">

  <h2><%= @business.name %></h2>
  <p> <strong> <%= pluralize @business.reviews.size, "Review" %> </strong></p>

  <% if @business.reviews.blank? %>
    <h3> Be the first to review <%= @business.name %> </h3>
    <ul class="list-group">
      <% else @business.reviews.each do |review| %>
      <li class="list-group-item"><%= "#{("â­" * review.rating)}" %></li>
        <li class="list-group-item"><%= review.content %></li>
      <% end %>
    <% end %>
  </ul>

  <%= render :partial => "businesses/review" %>

</div>
