  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag('chef-tickets.jpg', class: 'd-block w-100 linear-gradient') %>
        <div class="carousel-caption pb-100">
          <h1 class= "welcome-text">  The Dishers </h1>
          <h3 class= "welcome-text"> A community for hospitality professionals</h3>
          <%= link_to 'Find your new business', businesses_path, style: 'text-decoration: none; color: white', class: "btn-flat btn-flat:hover" %>
        </div>
      </div>
      <div class="item ">
        <%= image_tag('chef-talking-to-customer.jpg', class: 'd-block w-100 linear-gradient') %>
        <div class="carousel-caption pb-100">
          <h1 class= "welcome-text">  The Dishers </h1>
          <h3 class= "welcome-text"> A community for hospitality professionals</h3>
          <%= link_to 'Find your new business', businesses_path, style: 'text-decoration: none; color: white', class: "btn-flat btn-flat:hover" %>
        </div>
      </div>
      <div class="item">
        <%= image_tag('bartender-free-pouring.jpg', class: 'd-block w-100 linear-gradient') %>
        <div class="carousel-caption pb-100">
          <h1 class= "welcome-text">  The Dishers </h1>
          <h3 class= "welcome-text"> A community for hospitality professionals</h3>
          <%= link_to 'Find your new business', businesses_path, style: 'text-decoration: none; color: white', class: "btn-flat btn-flat:hover" %>
        </div>
      </div>
      <div class="item">
        <%= image_tag('barista.jpg', class: 'd-block w-100 linear-gradient') %>
        <div class="carousel-caption pb-100">
          <h1 class= "welcome-text">  The Dishers </h1>
          <h3 class= "welcome-text"> A community for hospitality professionals</h3>
          <%= link_to 'Find your new business', businesses_path, style: 'text-decoration: none; color: white', class: "btn-flat btn-flat:hover" %>
        </div>
      </div>
      <div class="item">
        <%= image_tag('bar-crew.jpg', class: 'd-block w-100 linear-gradient') %>
        <div class="carousel-caption pb-100">
          <h1 class= "welcome-text">  The Dishers </h1>
          <h3 class= "welcome-text"> A community for hospitality professionals</h3>
          <%= link_to 'Find your new business', businesses_path, style: 'text-decoration: none; color: white', class: "btn-flat btn-flat:hover" %>
        </div>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</div>

<div class="container my-5">
  <h3> Don't waste your time. </h3>
  <h3> Make informed decisions about your next employer
    through our community of dedicated hospitality professionals. </h3>
  <h3> Share your experiences. Learn from others. </h3>
</div>

<div class="container d-flex justify-content-between mt-3">

  <div class="row col-sm-3 m-4 p-0 mission-card box-shadow">
    <div class="mission-card-image p-0">
      <%= image_tag ('chef-v2.jpg') %>
    </div>
    <div class="mission-card-content">
      <h3> Bringing transparency to hospitality </h3>
      <p> By drawing on the personal experience of dedicated professionals, we shine a light on poor practices and celebrate businesses who do things right.  </p>
    </div>
  </div>
  <div class="row col-sm-3 m-4 p-0 mission-card box-shadow">
   <div class="mission-card-image p-0">
     <%= image_tag ('staff-talking.jpg') %>
  </div>
    <div class="mission-card-content">
      <h3> Life's too short </h3>
      <p> Don't waste your time in another dead-end job. Utilise the shared knowledge of hospitality workers in your area to find a better opportunity. </p>
    </div>
  </div>
  <div class="row col-sm-3 m-4 p-0 mission-card box-shadow">
    <div class="mission-card-image p-0">
     <%= image_tag ('fancy-bartender.jpg') %>
    </div>
    <div class="mission-card-content">
      <h3> Answers to the real questions  </h3>
      <p> Be the first to know about good colleagues, poor managers and great customers from other Dishers. Find out what a job is really like. </p>
    </div>
  </div>
</div>

  <div id="home-page-reviews" class="container my-5">
    <h2><strong> Top Rated Businesses in your area</strong></h2>
  </div>
<%# # We need to filter all businesses without reviews as otherwise the code breaking if raiting is nil. %>
  <div id="businesses">
    <% if @businesses.any? %>
      <div class="row">
        <% @businesses.where.not(reviews: { rating: nil }).joins(:reviews).group(:id).order('AVG(reviews.rating) DESC').limit(4).each_slice(2) do |businesses_row| %>
          <div class="d-flex justify-content-evenly">
            <% businesses_row.each do |business| %>
              <% @wages = [] %>
              <% @recommended_array = [] %>
              <% @ratings = [] %>
              <%= link_to business, style: 'text-decoration: none; color: #000000' do %>
                <div class="business-card mt-5">
                  <%= cl_image_tag business.photo.key, height: 300 %>
                  <div class="business-card-infos">
                    <div class="d-flex justify-content-between">
                      <h2> <%= business.name %> </h2>
                      <% business.reviews.each do |review| %>
                        <% @wages.push(review.wage) %>
                      <% end %>
                      <% unless business.reviews.empty? %>
                        <p> <%= "Average wage: #{number_to_currency((@wages.sum / business.reviews.length), options = {unit: "£"}) }"%> </p>
                      <% end %>
                    </div>
                    <% business.reviews.each do |review| %>
                      <% @ratings.push(review.rating) %>
                    <% end %>
                    <% unless business.reviews.empty? %>
                      <% @rating = (@ratings.sum / business.reviews.length).ceil %>
                        <% @rating.to_i.times do %>
                          <i class="fa-solid fa-star" style="color: #009eff;"></i>
                        <% end %>
                    <% end %>
                    <p> <%= business.description[0..100] %> </p>
                    <% business.reviews.each do |review| %>
                      <% if review.recommended = true %>
                        <% @recommended_array.push(review) %>
                      <% end %>
                    <% end %>
                    <p> <%= "#{pluralize (@recommended_array.length), "Disher"} recommends working here" %> </p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <em> Sorry, no businesses found. </em>
    <% end %>
