
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
          <div class="col-sm-4">
            <%= link_to edit_user_registration_path(@user) do %>
              <div class="user-profile wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="user-thumb"> <%= image_tag(@user.photo, alt: "...", width: 350) %>
                </div>
                <!-- Team Details-->
                <div class="user-info">
                  <h6><strong> @<%= @user.username %></strong> </h6>
                    <p> <%= @user.email %></p>
                    <p> "<%= @user.bio %>" </p>
                  <p class="designation"><i class="fa-solid fa-location-dot" style="color: #009eff;"></i><%= @user.location %></p>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-sm-8 mt-3"> <h2> Your Favourites </h2>
            <div class="fave-cards">
                <% @favourites.each do |favourite| %>
               <%= link_to favourite.business, style: 'text-decoration: none; color: #000000' do  %>
                  <div class="fave-card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path(favourite.business.photo.key) %>');">
                    <h3><%= favourite.business.name %></h3>
                  </div>
                  <% end %>
              <% end %>
            </div>
          </div>
     <div class="col-sm-12 mt-3"> <h2> Your Reviews </h2>
           <% @user.reviews.each do |review| %>
            <div class="user-reviews">
                <%= cl_image_tag review.business.photo.key, height: 300 %>
              <div class="user-review-datails">
                <h2><%= review.business.name %> | <% review.rating.to_i.times do %>
                    <i class="fa fa-star star-active ml-3"></i>
                  <% end %>
                  </h2>
                <h4> <strong class="blue-text">"<%= review.title.capitalize %>" </strong></h4>
                <p > "<%= review.content %>" </p>
              </div>
            </div>
          <% end %>

        </div>
</div>
